body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image:url('./assets/images/Game_background.png');
    height: 100vh;
}

#gamePage{
    display: none;
}
#gamePage h1{
    color:white;
}
/* Start Menu */
#start-page {
    color: #ffff66;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    /* background-image: url("./assets/images/TitleBackground_temp.png"); */
    /*font-family: 'MegaMaxJonathanToo', sans-serif; */
  }
  
.game-title {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #ffff66;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #71a67d;
    color: #ffff66;
    transition: background-color 0.3s ease;
  }
  
  .menu-button:hover {
    background-color: #3f8787;
  }

  #Instructions{
    position: absolute;
    display: none;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: #ffff66;
    background-color: rgba(0, 0, 0, 1);
    padding: 50px;
    border-radius: 10px;
    border: 2px solid white;
  }

#board{
    width: 400px;
    height: 400px;
    border: 10px solid darkgray;
    background-color: lightgray;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;        /* take 2px away to compansate for the 1px border */
    height: 48px;
    border: 1px solid whitesmoke;

    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile-clicked{
    background: darkgrey;
}

.x1 {
    color: blue;
}

.x2 {
    color: green;
}
.x3 {
    color: red;
}
.x4 {
    color: navy;
}
.x5 {
    color: brown;
}
.x6 {
    color: teal;
}
.x7 {
    color: black;
}
.x8 {
    color: gray;
}

#flag-button {
    width: 60px;
    height: 60px;
    font-size: 25px;
    background-color: lightgray;
    border: none;
    border-radius: 20px;
}
#flag-button:hover{
    cursor: pointer;
}

#restart{
    display: flex;
    margin: 10px;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#restart button{
    width: 100px;
    padding: 10px;
    text-align: center;
    /* background-image: url("./assets/images/retry.svg"); */
}
#restart button:hover{
    cursor: pointer;
}
